  
   .navbar-brand {
       float: left;
       margin-top: 0;
   }
   h4 {
    margin-left: 50px;
   }
   h6 {
    margin-left: 50px;
   }
   p {
    max-width: 100%;
    height: auto;
    width: auto\9;
    margin-left: 220px;
    font-size: 15px;
    width: 620px; 
    word-wrap: break-word;
   }
   img {
       max-width: 100%;
       height: auto;
       width: auto\9;
       margin-left: 120px;
   }